################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/LabTP1/.vs/LabTP1/v17
/LabTP1/LabTP1/x64/Debug
/LabTP1/x64/Debug
/LabTP1/LabTP1.sln
